.headshot {
  border-radius: 100px;
  height: 190px;
  width: 190px;
}

.portfolio-link {
  opacity: 0.8;
  height: 499px;
}
.portfolio-link:hover {
  opacity: 1;
}

.portfolio-item {
  margin-bottom: 25px;
}
.portfolio-img {
  margin-bottom: 10px;
}
.portfolio-item:last-child {
  margin-bottom: 0px;
}

.portfolio-img-placeholder {
  width: 324px;
  height: 499px;
  border: 3px solid #365f86;
  border-radius: 3px;
  font-size: 24px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #365f86;
}
.portfolio-link a:hover {
  text-decoration: none;
}

header,
hr.star-light:after,
section.success {
  background-color: #ba3f1d;
}

.navbar-default,
footer .footer-above,
footer .footer-below {
  background-color: #365f86;
}

/*
red:  #BA3F1D;
reg blue:   #365F86;
dark blue: #0E3459
*/
/* when you click on nav menu links, background menu should turn a darker shade of blue */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #0e3459;
}
/* text color should be blue by default, unless in 'sucess' */
body {
  color: #365f86;
}

/* Sharon Solwitz at the top hover effect*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ba3f1d;
}
/* in body, links should be red */
a,
a:hover {
  color: #ba3f1d;
}

/* unless in success, then links should be blue */

/** Kalikos **/
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  color: #18bc9c;
  font-weight: 700;
}

/* star */
hr.star-primary {
  border-color: #365f86;
}
/* star bg color */
hr.star-primary:after {
  color: #365f86;
}

/ div.navbar-header.page-scroll > a:hover {
  color: #ba3f1d;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ba3f1d;
}

/*
$blue - #80A1C1
$yellow - #EEE3AB
$beige - #D9CFC1
$bown - #A77E58
$red - #BA3F1D
*/
