.book-links a {
  display: inline-block;
}

.headshot {
  border-radius: 100px;
  height: 190px;
  width: 190px;
}

.portfolio-link {
  opacity: 0.9;
  height: 499px;
}
.portfolio-link:hover {
  opacity: 1;
}

.portfolio-item {
  margin-bottom: 25px;
}
.portfolio-img {
  width: 324px;
  height: 499px;
  margin-bottom: 10px;
}

.portfolio-img--border {
  border: 3px solid #365f86;
  border-radius: 3px;
}

.portfolio-item:last-child {
  margin-bottom: 0px;
}

.portfolio-link a:hover {
  text-decoration: none;
}

header,
hr.star-light:after,
section.success {
  background-color: #ba3f1d;
}

.navbar-default,
footer .footer-above,
footer .footer-below {
  background-color: #365f86;
}

/*
red:  #BA3F1D;
reg blue:   #365F86;
dark blue: #0E3459
 */
/* when you click on nav menu links, background menu should turn a darker shade of blue */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #0e3459;
}
/* text color should be blue by default, unless in 'sucess' */
body {
  color: #365f86;
}

/* Sharon Solwitz at the top hover effect*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ba3f1d;
}
/* in body, links should be red */
a,
a:hover {
  color: #ba3f1d;
}

/* unless in success, then links should be blue */
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #1ee3bd;
}
/** Kalikos **/
section.success a {
  color: #1ee3bd;
}
section.success a:hover {
  color: #1ee3bd;
}

/* star */
hr.star-primary {
  border-color: #365f86;
}
/* star bg color */
hr.star-primary:after {
  color: #365f86;
}

hr.star-primary:after,
hr.star-light:after,
hr.star-primary:after {
  content: '\f02d'; /* book */
}
/*
  "\f185" - sun
  "\f02d" -  book
  "\f040" - pencil
  "\f129" - info
  "\f05a" - info-circle
   */

hr.hr-skills:after {
  content: '\f185';
}

hr.hr-book:after {
  content: '\f02d';
}

hr.hr-about:after {
  content: '\f05a';
}

hr.hr-cv:after {
  content: '\f040';
}

div.navbar-header.page-scroll > a:hover {
  color: #ba3f1d;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ba3f1d;
}

/* center scroll to top fob */
.scroll-top .btn {
  align-items: center;
  display: flex;
  justify-content: center;
}
/*
  $blue - #80A1C1
  $yellow - #EEE3AB
  $beige - #D9CFC1
  $bown - #A77E58
  $red - #BA3F1D
   */
